---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import Play from 'phosphor-astro/PlayFill.astro'
import CaretDown from 'phosphor-astro/CaretDown.astro'
import CaretDoubleRight from 'phosphor-astro/CaretDoubleRight.astro'
import ArrowRight from 'phosphor-astro/ArrowRight.astro'
---

<BaseLayout
    title="Damien Site"
    description="Welcome to Damien Site"
    bodyClass="bg-[#000B17]"
>
    <div
        class="fixed top-0 z-50 w-full duration-300 ease-out p-5"
        x-data="{ scrolled: false, mobileMenuOpen: false }"
        x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 100 })"
        data-gsap-nav
    >
        <nav
            :class="scrolled ? 'bg-[#000B17]/10 backdrop-blur-sm' : ''"
            class="w-full border border-white/20 transition-all duration-300 rounded-2xl "
        >
            <div
                class="max-w-480 mx-auto flex items-center justify-between gap-4 w-full p-4 lg:p-6"
            >
                <div>
                    <Image
                        src={import('@/assets/logo-nav.svg')}
                        alt={'Damien Duhamel'}
                    />
                </div>
                <!-- Desktop nav -->
                <ul
                    class="hidden md:flex items-center gap-4 lg:gap-8 [&_li]:tracking-widest [&_li]:font-light [&_li]:text-white/80 [&_li]:hover:text-white [&_li]:uppercase"
                >
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Insights</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <!-- Mobile hamburger button -->
                <button
                    class="md:hidden flex items-center justify-center w-10 h-10 text-white"
                    @click="mobileMenuOpen = !mobileMenuOpen"
                    aria-label="Toggle menu"
                >
                    <svg
                        x-show="!mobileMenuOpen"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <line x1="4" y1="6" x2="20" y2="6"></line>
                        <line x1="4" y1="12" x2="20" y2="12"></line>
                        <line x1="4" y1="18" x2="20" y2="18"></line>
                    </svg>
                    <svg
                        x-show="mobileMenuOpen"
                        x-cloak
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <!-- Mobile menu -->
            <div
                x-show="mobileMenuOpen"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0 -translate-y-2"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-in duration-150"
                x-transition:leave-start="opacity-100 translate-y-0"
                x-transition:leave-end="opacity-0 -translate-y-2"
                x-cloak
                class="md:hidden border-t border-white/10"
            >
                <ul
                    class="flex flex-col items-center gap-4 py-6 [&_li]:tracking-widest [&_li]:font-light [&_li]:text-white/80 [&_li]:hover:text-white [&_li]:uppercase"
                >
                    <li>
                        <a href="#" @click="mobileMenuOpen = false">Home</a>
                    </li>
                    <li>
                        <a href="#" @click="mobileMenuOpen = false">About</a>
                    </li>
                    <li>
                        <a href="#" @click="mobileMenuOpen = false">Insights</a>
                    </li>
                    <li>
                        <a href="#" @click="mobileMenuOpen = false">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="max-w-480 mx-auto">
        <section
            id="hero"
            class="px-4 lg:px-5 relative min-h-dvh flex flex-col h-full justify-end overflow-hidden"
        >
            <Image
                src={import('@/assets/hero-bg.png')}
                alt="hero background"
                class="absolute inset-0 min-h-dvh lg:min-w-dvw object-cover"
                data-gsap-hero-bg
            />
            <div
                class="relative flex flex-col items-center justify-end py-16 lg:py-24 h-full"
            >
                <h1
                    class="text-white font-serif text-2xl lg:text-[40px] text-center inline-flex flex-col"
                    data-gsap-hero-title
                >
                    <span class="italic">Middle East & Asia</span>
                    <span
                        class="uppercase font-sans font-bold text-4xl lg:text-8xl"
                        >Transformation</span
                    >
                    <span class="italic">Strategy</span>
                </h1>
                <p
                    class="text-sm md:text-base text-white/75 mt-5 lg:mt-10 text-center"
                    data-gsap-hero-text
                >
                    Help clients build long-lasting competitive advantage and
                    accelerate profitable growth<br class="hidden md:inline" />
                    in the dynamic and complex markets of Asia and the Middle East.
                </p>
            </div>
            <div class="flex flex-col items-center justify-center gap-1 pb-4" data-gsap-hero-scroll>
                <span
                    class="text-white font-light text-[10px] md:text-xs text-center tracking-widest uppercase"
                    >Scroll</span
                >
                <div class="w-px h-6 bg-linear-to-b from-white to-transparent">
                </div>
            </div>
        </section>
        <section id="categories" class="px-4 lg:px-5 pt-5" data-gsap-categories>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-5">
                <a
                    href="#"
                    class="group relative overflow-hidden p-4 md:p-6 lg:p-7.5 rounded-lg lg:rounded-2xl w-full lg:w-1/3 hover:lg:w-10/12 duration-500 ease-out border border-white/10 h-60 lg:min-h-180 flex items-end justify-start"
                    data-gsap-category
                >
                    <Image
                        src={import('@/assets/publication.png')}
                        alt=""
                        class="absolute size-full inset-0 object-cover"
                    />
                    <div
                        class="absolute bg-linear-to-b from-[#001246]/0 via-[#076A80]/10 to-[#001246]/50 via-75% to-90% size-full inset-0"
                    >
                    </div>
                    <div
                        class="flex justify-between items-center relative w-full"
                    >
                        <h2
                            class="uppercase text-2xl lg:text-4xl font-bold text-white leading-[0.9] tracking-tighter"
                        >
                            Publications
                        </h2>
                        <div
                            class="rounded-full bg-[#0DBFE6]/20 hover:bg-[#0DBFE6] duration-300 ease-out shrink-0 size-10 md:size-12 flex items-center justify-center md:opacity-0 md:group-hover:opacity-100"
                        >
                            <CaretDoubleRight
                                class="size-4 lg:size-6 text-white"
                            />
                        </div>
                    </div>
                </a>
                <a
                    href="#"
                    class="group relative overflow-hidden p-4 md:p-6 lg:p-7.5 rounded-lg lg:rounded-2xl w-full lg:w-1/3 hover:lg:w-10/12 duration-500 ease-out border border-white/10 h-60 lg:min-h-180 flex items-end justify-start"
                    data-gsap-category
                >
                    <Image
                        src={import('@/assets/in-the-news.png')}
                        alt=""
                        class="absolute size-full inset-0 object-cover"
                    />
                    <div
                        class="absolute bg-linear-to-b from-[#001246]/0 via-[#076A80]/10 to-[#001246]/50 via-75% to-90% size-full inset-0"
                    >
                    </div>
                    <div
                        class="flex justify-between items-center relative w-full"
                    >
                        <h2
                            class="uppercase text-2xl lg:text-4xl font-bold text-white leading-[0.9] tracking-tighter"
                        >
                            In the News
                        </h2>
                        <div
                            class="rounded-full bg-[#0DBFE6]/20 hover:bg-[#0DBFE6] duration-300 ease-out shrink-0 size-10 md:size-12 flex items-center justify-center md:opacity-0 md:group-hover:opacity-100"
                        >
                            <CaretDoubleRight
                                class="size-4 lg:size-6 text-white"
                            />
                        </div>
                    </div>
                </a>
                <a
                    href="#"
                    class="group relative overflow-hidden p-4 md:p-6 lg:p-7.5 rounded-lg lg:rounded-2xl w-full lg:w-1/3 hover:lg:w-10/12 duration-500 ease-out border border-white/10 h-60 lg:min-h-180 flex items-end justify-start"
                    data-gsap-category
                >
                    <Image
                        src={import('@/assets/speaker.png')}
                        alt=""
                        class="absolute size-full inset-0 object-cover"
                    />
                    <div
                        class="absolute bg-linear-to-b from-[#001246]/0 via-[#076A80]/10 to-[#001246]/50 via-75% to-90% size-full inset-0"
                    >
                    </div>
                    <div
                        class="flex justify-between items-center relative w-full"
                    >
                        <h2
                            class="uppercase text-2xl lg:text-4xl font-bold text-white leading-[0.9] tracking-tighter"
                        >
                            Speakers
                        </h2>
                        <div
                            class="rounded-full bg-[#0DBFE6]/20 hover:bg-[#0DBFE6] duration-300 ease-out shrink-0 size-10 md:size-12 flex items-center justify-center md:opacity-0 md:group-hover:opacity-100"
                        >
                            <CaretDoubleRight
                                class="size-4 lg:size-6 text-white"
                            />
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section id="about" class="px-4 lg:px-5 pt-5 overflow-hidden" data-gsap-about>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-5">
                <div class="w-full lg:w-2/5 grid lg:grid-rows-2 lg:gap-5">
                    <div class="grid lg:grid-cols-2 gap-5">
                        <div
                            class="relative aspect-4/3 lg:aspect-auto rounded-lg lg:rounded-2xl overflow-hidden"
                            data-gsap-about-img
                        >
                            <Image
                                src={import('@/assets/speaker-2.jpg')}
                                alt="Damien"
                                class="absolute inset-0 size-full object-cover"
                            />
                            <div
                                class="absolute bg-linear-to-b from-[#001246]/0 via-[#076A80]/10 to-[#001246]/50 via-75% to-90% size-full inset-0"
                            >
                            </div>
                        </div>
                        <div
                            class="relative aspect-4/3 lg:aspect-auto rounded-lg lg:rounded-2xl overflow-hidden"
                            data-gsap-about-img
                        >
                            <Image
                                src={import('@/assets/building-1.jpg')}
                                alt="Damien"
                                class="absolute inset-0 size-full object-cover"
                            />
                            <div
                                class="absolute bg-linear-to-b from-[#001246]/0 via-[#076A80]/10 to-[#001246]/50 via-75% to-90% size-full inset-0"
                            >
                            </div>
                        </div>
                    </div>
                    <div
                        class="relative aspect-21/9 lg:aspect-auto rounded-lg lg:rounded-2xl overflow-hidden"
                        data-gsap-about-img
                    >
                        <Image
                            src={import('@/assets/building-2.jpg')}
                            alt="Damien"
                            class="absolute inset-0 size-full object-cover"
                        />
                        <div
                            class="absolute bg-linear-to-b from-[#001246]/0 via-[#076A80]/10 to-[#001246]/50 via-75% to-90% size-full inset-0"
                        >
                        </div>
                    </div>
                </div>
                <div
                    class="w-full lg:w-3/5 rounded-lg lg:rounded-2xl bg-white py-16 p-6 lg:p-16"
                    data-gsap-about-content
                >
                    <div class="w-full flex flex-col items-center">
                        <span
                            class="text-[#001246] uppercase tracking-[0.15em] font-light text-base text-center mb-5"
                            >About</span
                        >
                        <h2
                            class="text-[#001246] mb-10 font-serif text-2xl lg:text-[40px] inline-flex flex-col md:flex-row items-center justify-center text-center flex-wrap leading-none"
                        >
                            <span
                                class="italic inline-flex items-end justify-end text-right mr-2"
                                >Middle East <br class="hidden 2xl:inline" />
                                & Asia</span
                            >
                            <span
                                class="uppercase font-sans font-bold text-6xl lg:text-8xl leading-[0.9]"
                                >Growth</span
                            >
                            <span
                                class="uppercase font-sans font-bold text-6xl lg:text-8xl leading-[0.9]"
                                >Strategy</span
                            >
                            <span
                                class="italic inline-flex flex-col items-end justify-end text-right mr-2 md:self-end mb-3"
                                >Advisory</span
                            >
                        </h2>
                        <div
                            class="flex flex-col gap-5 items-center text-center [&_p]:leading-normal [&_p]:text-base text-[#1e1e1e]/90 max-w-3xl"
                        >
                            <p>
                                Damien Duhamel is a seasoned corporate
                                strategist and growth expert with over 20 years
                                of experience in leading and advising
                                organizations across Asia and the Middle East.
                                He is the Managing Partner Middle East & Asia
                                for Eurogroup Consulting, a global management
                                consulting firm that supports clients in their
                                growth, transformation, and digital journey.
                                Damien was the co-founder and Board Member of
                                Solidiance, a leading Asia-focused strategic
                                advisory firm that was set up in 2006 and sold
                                to YCP, a Japanese listed group, in 2019.
                            </p>
                            <p>
                                Damien’s mission is to help clients build
                                long-lasting competitive advantage and
                                accelerate profitable growth in the dynamic and
                                complex markets of Asia and the Middle East. He
                                has extensive experience in delivering strategic
                                insights and solutions in areas such as
                                disruptive innovation, B2B digital strategy,
                                market entry strategy, competitive intelligence,
                                M&A due diligence, and PMO. He has worked with
                                clients from various sectors, including
                                industrial, automotive, energy, healthcare,
                                technology, and public sector. Damien has also
                                been a speaker and author on topics such as
                                urbanization, disruptive innovation,
                                digitalization, and the Silk Road. He speaks
                                English, French, Vietnamese, and some Japanese.
                                Damien has lived and worked in over 15 countries
                                in Asia and the Middle East, as well as in
                                Australia, Europe, and Africa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="numbers" class="px-4 lg:px-5 pt-5" data-gsap-numbers>
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-5">
                <div
                    class="relative rounded-lg lg:rounded-2xl overflow-hidden flex flex-col p-4 lg:p-7.5 items-start justify-between gap-3 lg:gap-8 border border-white/20"
                    data-gsap-number
                >
                    <div class="inline-flex flex-col">
                        <span
                            class="italic font-serif text-sm lg:text-xl text-white leading-[0.9] tracking-tighter"
                            >Years of</span
                        >
                        <span
                            class="uppercase font-bold text-base lg:text-2xl text-white leading-[0.9] tracking-tighter"
                            >Experience</span
                        >
                    </div>
                    <span
                        class="font-black self-end text-5xl lg:text-[110px] leading-[0.9] tracking-[-9%] bg-clip-text text-transparent bg-linear-to-r from-white to-[#E5E5E5]/80"
                        data-gsap-number-val="20+"
                    >20+</span>
                </div>
                <div
                    class="relative rounded-lg lg:rounded-2xl overflow-hidden flex flex-col p-4 lg:p-7.5 items-start justify-between gap-3 lg:gap-8 border border-white/20 bg-white"
                    data-gsap-number
                >
                    <div class="inline-flex flex-col">
                        <span
                            class="italic font-serif text-sm lg:text-xl text-[#001246] leading-[0.9] tracking-tighter"
                            >Middle East & Asia</span
                        >
                        <span
                            class="uppercase font-bold text-base lg:text-2xl text-[#001246] leading-[0.9] tracking-tighter"
                            >Growth Strategy Assignments</span
                        >
                    </div>
                    <span
                        class="font-black self-end text-5xl lg:text-[110px] leading-[0.9] tracking-[-9%] bg-clip-text text-transparent bg-linear-to-r from-[#001246] to-[#1F2F49]"
                        data-gsap-number-val="500+"
                    >500+</span>
                </div>
                <div
                    class="relative rounded-lg lg:rounded-2xl overflow-hidden flex flex-col p-4 lg:p-7.5 items-start justify-between gap-3 lg:gap-8 border border-white/20"
                    data-gsap-number
                >
                    <div class="inline-flex flex-col">
                        <span
                            class="italic font-serif text-sm lg:text-xl text-white leading-[0.9] tracking-tighter"
                            >Middle East & Asia</span
                        >
                        <span
                            class="uppercase font-bold text-base lg:text-2xl text-white leading-[0.9] tracking-tighter"
                            >Country Covered</span
                        >
                    </div>
                    <span
                        class="font-black self-end text-5xl lg:text-[110px] leading-[0.9] tracking-[-9%] bg-clip-text text-transparent bg-linear-to-r from-white to-[#E5E5E5]/80"
                        data-gsap-number-val="65+"
                    >65+</span>
                </div>
                <div
                    class="relative rounded-lg lg:rounded-2xl overflow-hidden flex flex-col p-4 lg:p-7.5 items-start justify-between gap-3 lg:gap-8 border border-white/20 bg-linear-to-tr from-[#001246]/30 to-[#076A80]/10"
                    data-gsap-number
                >
                    <div class="inline-flex flex-col">
                        <span
                            class="italic font-serif text-sm lg:text-xl text-white leading-[0.9] tracking-tighter"
                            >Clients</span
                        >
                        <span
                            class="uppercase font-bold text-base lg:text-2xl text-white leading-[0.9] tracking-tighter"
                            >Repeat Rate</span
                        >
                    </div>
                    <span
                        class="font-black self-end text-5xl lg:text-[110px] leading-[0.9] tracking-[-9%] bg-clip-text text-transparent bg-linear-to-r from-white to-[#E5E5E5]/80"
                        data-gsap-number-val="90%"
                    >90%</span
                    >
                </div>
            </div>
        </section>
        <section id="publications" class="px-4 lg:px-5 py-5" data-gsap-pub>
            <div
                class="rounded-lg flex lg:hidden items-center justify-center lg:rounded-2xl p-6 lg:p-32 relative overflow-hidden border border-white/20 mb-4 lg:mb-5 h-60 lg:h-auto"
            >
                <Image
                    src={import('@/assets/bg-publications.png')}
                    alt="Publications"
                    class="absolute inset-0 w-full h-full object-cover"
                />
                <div
                    class="w-full flex flex-col items-center justify-center relative"
                >
                    <span
                        class="text-white uppercase tracking-[0.15em] font-light text-base text-center mb-5"
                        >Insights</span
                    >
                    <h2
                        class="text-white mb-10 font-serif text-2xl lg:text-[40px] inline-flex items-end justify-center text-center flex-wrap leading-[0.9]"
                    >
                        <span
                            class="italic inline-flex items-end justify-end text-right mb-1"
                            >Latest</span
                        >
                        <span
                            class="uppercase font-sans font-bold text-4xl lg:text-8xl leading-[0.9]"
                            >Thinking</span
                        >
                        <span
                            class="italic inline-flex items-end justify-end text-right mb-1"
                            >and</span
                        >
                        <span
                            class="uppercase font-sans font-bold text-4xl lg:text-8xl leading-[0.9]"
                            >Publications</span
                        >
                    </h2>
                    <button
                        class="group cursor-pointer inline-flex items-center gap-4 lg:gap-6"
                        type="submit"
                    >
                        <span
                            class="text-white uppercase tracking-[0.15em] font-medium text-xs lg:text-base text-center border-b border-white/75"
                            style="border-image: repeating-linear-gradient(90deg, currentColor 0 4px, transparent 4px 8px) 1"
                            >See All Insights</span
                        >
                        <div
                            class="rounded-full p-3 bg-[#0DBFE6]/20 group-hover:bg-white duration-300 ease-out"
                        >
                            <ArrowRight
                                class="text-white group-hover:text-[#001246] size-6"
                            />
                        </div>
                    </button>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-5">
                <a
                    href="#"
                    class="group w-full lg:w-2/7 aspect-5/4 border border-white/20 relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-card
                >
                    <Image
                        src={import('@/assets/article-1.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover saturate-0 group-hover:saturate-100 opacity-25 group-hover:scale-105 group-hover:opacity-45 duration-300 ease-out"
                    />
                    <div
                        class="bg-linear-to-tr from-[#001246]/30 to-[#076A80]/10 absolute size-full inset-0"
                    >
                    </div>
                    <div
                        class="relative h-full flex flex-col items-start w-full justify-between gap-4 lg:gap-8"
                    >
                        <div class="flex flex-col gap-2 items-start">
                            <span
                                class="text-white uppercase tracking-[0.15em] font-light text-sm md:text-base text-center"
                                >Featured on</span
                            >
                            <Image
                                src={import('@/assets/south-china-morning-post.svg')}
                                alt="South China Morning Post"
                                class="h-6 lg:h-7.5 w-auto"
                            />
                        </div>
                        <h3
                            class="text-white leading-tight font-bold text-xl lg:text-2xl"
                        >
                            As Trump tariffs hit, Chinese EVs threaten
                            Malaysia’s auto industry with price war tactics
                        </h3>
                    </div>
                </a>
                <a
                    href="#"
                    class="group w-full lg:w-2/7 aspect-5/4 border border-white/20 relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-card
                >
                    <Image
                        src={import('@/assets/article-2.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover saturate-0 group-hover:saturate-100 opacity-25 group-hover:scale-105 group-hover:opacity-45 duration-300 ease-out"
                    />
                    <div
                        class="bg-linear-to-tr from-[#001246]/30 to-[#076A80]/10 absolute size-full inset-0"
                    >
                    </div>
                    <div
                        class="relative h-full flex flex-col items-start w-full justify-between gap-4 lg:gap-8"
                    >
                        <div class="flex flex-col gap-2 items-start">
                            <span
                                class="text-white uppercase tracking-[0.15em] font-light text-sm md:text-base text-center"
                                >Featured on</span
                            >
                            <Image
                                src={import('@/assets/business-insider.svg')}
                                alt="Business Insider"
                                class="h-6 lg:h-7.5 w-auto"
                            />
                        </div>
                        <h3
                            class="text-white leading-tight font-bold text-xl lg:text-2xl"
                        >
                            The 16 Most Innovative Cities In Asia
                        </h3>
                    </div>
                </a>
                <div
                    class="group w-full lg:w-3/7 aspect-5/4 border border-white/20 relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-card
                >
                    <Image
                        src={import('@/assets/video-thumb.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover group-hover:scale-105 duration-300 ease-out"
                    />
                    <div
                        class="bg-linear-to-b from-[#001246]/0 via-[#076A80]/5 via-80% to-[#001246]/50 to-95% absolute size-full inset-0"
                    >
                    </div>
                    <div
                        class="relative h-full flex flex-col items-center w-full justify-end gap-4 lg:gap-8"
                    >
                        <button
                            class="cursor-pointer inline-flex items-center gap-4 lg:gap-6"
                        >
                            <span
                                class="text-white uppercase tracking-[0.15em] font-medium text-xs lg:text-base text-center border-b border-white/75"
                                style="border-image: repeating-linear-gradient(90deg, currentColor 0 4px, transparent 4px 8px) 1"
                                >Watch</span
                            >
                            <div class="rounded-full p-3 bg-white/20">
                                <Play class="text-white size-6" />
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-5 mt-4 lg:mt-5">

                <div
                    class="lg:w-5/7 rounded-lg hidden lg:flex items-center justify-center lg:rounded-2xl p-6 lg:p-32 relative overflow-hidden border border-white/20"
                    data-gsap-pub-card
                >
                    <Image
                        src={import('@/assets/bg-publications.png')}
                        alt="Publications"
                        class="absolute inset-0 w-full h-full object-cover"
                    />
                    <div
                        class="w-full flex flex-col items-center justify-center relative"
                    >
                        <span
                            class="text-white uppercase tracking-[0.15em] font-light text-base text-center mb-5"
                            >Insights</span
                        >
                        <h2
                            class="text-white mb-10 font-serif text-2xl lg:text-[40px] inline-flex items-end justify-center text-center flex-wrap leading-[0.9]"
                        >
                            <span
                                class="italic inline-flex items-end justify-end text-right mb-1"
                                >Latest</span
                            >
                            <span
                                class="uppercase font-sans font-bold text-4xl lg:text-8xl leading-[0.9]"
                                >Thinking</span
                            >
                            <span
                                class="italic inline-flex items-end justify-end text-right mb-1"
                                >and</span
                            >
                            <span
                                class="uppercase font-sans font-bold text-4xl lg:text-8xl leading-[0.9]"
                                >Publications</span
                            >
                        </h2>
                        <button
                            class="group cursor-pointer inline-flex items-center gap-4 lg:gap-6"
                            type="submit"
                        >
                            <span
                                class="text-white uppercase tracking-[0.15em] font-medium text-xs lg:text-base text-center border-b border-white/75"
                                style="border-image: repeating-linear-gradient(90deg, currentColor 0 4px, transparent 4px 8px) 1"
                                >See All Insights</span
                            >
                            <div
                                class="rounded-full p-3 bg-[#0DBFE6]/20 group-hover:bg-white duration-300 ease-out"
                            >
                                <ArrowRight
                                    class="text-white group-hover:text-[#001246] size-6"
                                />
                            </div>
                        </button>
                    </div>
                </div>
                <a
                    href="#"
                    class="group w-full lg:w-2/7 aspect-5/4 border border-white/20 relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-card
                >
                    <Image
                        src={import('@/assets/article-3.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover saturate-0 group-hover:saturate-100 opacity-25 group-hover:scale-105 group-hover:opacity-45 duration-300 ease-out"
                    />
                    <div
                        class="bg-linear-to-tr from-[#001246]/30 to-[#076A80]/10 absolute size-full inset-0"
                    >
                    </div>
                    <div
                        class="relative h-full flex flex-col items-start w-full justify-between gap-4 lg:gap-8"
                    >
                        <div class="flex flex-col gap-2 items-start">
                            <span
                                class="text-white uppercase tracking-[0.15em] font-light text-sm md:text-base text-center"
                                >Featured on</span
                            >
                            <Image
                                src={import('@/assets/bloomberg.svg')}
                                alt="Bloomberg"
                                class="h-6 lg:h-7.5 w-auto"
                            />
                        </div>
                        <h3
                            class="text-white leading-tight font-bold text-xl lg:text-2xl"
                        >
                            Elon Musk Taking Tesla to Saudi Arabia Puts ‘Funding
                            Secured’ Feud to Rest
                        </h3>
                    </div>
                </a>
            </div>
            <div
                class="grid grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-5 mt-4 lg:mt-5"
            >
                <a
                    href="#"
                    class="group aspect-3/4 border border-white/20 relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-thumb
                >
                    <Image
                        src={import('@/assets/whitepaper-1.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover group-hover:scale-105 duration-300 ease-out"
                    />
                </a>
                <a
                    href="#"
                    class="group aspect-3/4 border border-white/20 relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-thumb
                >
                    <Image
                        src={import('@/assets/whitepaper-2.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover group-hover:scale-105 duration-300 ease-out"
                    />
                </a>
                <a
                    href="#"
                    class="order-last lg:order-0 group flex flex-col items-center justify-center aspect-3/4 border border-white/20 bg-white hover:bg-white/0 duration-300 ease-out relative rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-thumb
                >
                    <div
                        class="inline-flex flex-col text-center items-center justify-center"
                    >
                        <span
                            class="uppercase font-bold text-base md:text-3xl lg:text-4xl text-[#001246] group-hover:text-white duration-300 ease-out leading-[0.9] tracking-tighter"
                            >Explore more</span
                        >
                        <span
                            class="italic font-serif text-sm md:text-2xl lg:text-3xl text-[#001246] group-hover:text-white duration-300 ease-out leading-[0.9] tracking-tighter"
                            >Publications</span
                        >
                    </div>
                    <div
                        class="rounded-full p-3 bg-[#0DBFE6]/20 group-hover:bg-white duration-300 ease-out shrink-0"
                    >
                        <ArrowRight class="text-[#001246] size-6" />
                    </div>
                </a>
                <a
                    href="#"
                    class="group aspect-3/4 border border-white/20 relative flex flex-col items-center justify-center rounded-lg lg:rounded-2xl overflow-hidden p-6 lg:p-7.5 gap-4 lg:gap-8"
                    data-gsap-pub-thumb
                >
                    <Image
                        src={import('@/assets/whitepaper-3.png')}
                        alt=""
                        class="size-full absolute inset-0 object-cover group-hover:scale-105 duration-300 ease-out"
                    />
                </a>
            </div>
        </section>
        <section
            id="contact"
            class="bg-white px-4 lg:px-5 py-12 lg:py-25 relative"
            data-gsap-contact
        >
            <Image
                src={import('@/assets/contact-bg.svg')}
                alt=""
                class="w-full h-auto object-cover inset-x-0 bottom-0 absolute max-h-1/2 object-top"
            />
            <div class="relative w-full flex flex-col items-center" data-gsap-contact-heading>
                <span
                    class="text-[#001246] uppercase tracking-[0.15em] font-light text-base text-center mb-5"
                    >Contact</span
                >
                <h2
                    class="text-[#001246] mb-5 font-serif text-2xl lg:text-[40px] inline-flex flex-col items-center justify-center text-center flex-wrap leading-none"
                >
                    <span
                        class="italic inline-flex items-end justify-end text-right mr-2"
                        >Let’s Start a</span
                    >
                    <span
                        class="uppercase font-sans font-bold text-4xl lg:text-8xl leading-[0.9]"
                        >Conversation</span
                    >
                </h2>
                <p class="font-light text-base leading-tight text-[#1e1e1e]/90 text-center">
                    Whether you’re seeking advisory support to enter Middle East
                    & Asia
                </p>
            </div>
            <div
                class="relative w-full max-w-4xl mx-auto mt-10 lg:mt-20"
                x-data="formHandler"
                data-gsap-contact-form
            >
                <form
                    @submit.prevent="validateForm"
                    x-ref="form"
                    class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 w-full"
                >
                    <div class="input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>First Name<span>*</span></label
                        ><input
                            required
                            x-model="formData.firstName"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter First Name"
                            name="firstName"
                            id="firstName"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Last Name<span>*</span></label
                        ><input
                            required
                            x-model="formData.lastName"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter Last Name"
                            name="lastName"
                            id="lastName"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Job Title<span>*</span></label
                        ><input
                            required
                            x-model="formData.jobTitle"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter Job Title"
                            name="jobTitle"
                            id="jobTitle"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Company Name<span>*</span></label
                        ><input
                            required
                            x-model="formData.companyName"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter Company Name"
                            name="companyName"
                            id="companyName"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Country<span>*</span></label
                        ><input
                            required
                            x-model="formData.country"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter Your Country"
                            name="country"
                            id="country"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Phone Number<span>*</span></label
                        ><input
                            required
                            x-model="formData.phoneNumber"
                            type="tel"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter Phone Number"
                            name="phoneNumber"
                            id="phoneNumber"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="lg:col-span-2">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Corporate Email<span>*</span></label
                        ><input
                            required
                            x-model="formData.corporateEmail"
                            type="email"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            placeholder="Enter Corporate Email"
                            name="corporateEmail"
                            id="corporateEmail"
                            aria-invalid="false"
                            value=""
                        />
                    </div>
                    <div class="lg:col-span-2 input-class">
                        <label
                            class:list={[
                                'font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-sm',
                                '[&_span]:text-red-500 text-[#001246]',
                            ]}>Message<span>*</span></label
                        ><textarea
                            required
                            name="message"
                            id="message"
                            x-model="formData.message"
                            class:list={[
                                'flex h-auto w-full outline-hidden ring-0 disabled:cursor-not-allowed disabled:opacity-50 bg-transparent px-0 py-3 text-sm rounded-none border-b duration-300 ease-out',
                                'border-[#001246]/20 focus-within:border-[#001246] text-[#001246] placeholder:text-[#001246]/60',
                            ]}
                            role="textbox"
                            rows="5"
                            placeholder="Write Your Message Here..."
                            aria-invalid="false"
                        >
                        </textarea>
                    </div>
                    <div class="lg:col-span-2 flex justify-center">
                        <button
                            class="group cursor-pointer inline-flex items-center gap-4 lg:gap-6"
                            type="submit"
                        >
                            <span
                                class="text-[#001246] uppercase tracking-[0.15em] font-medium text-xs lg:text-base text-center border-b border-white/75"
                                style="border-image: repeating-linear-gradient(90deg, currentColor 0 4px, transparent 4px 8px) 1"
                                >Send Message</span
                            >
                            <div
                                class="rounded-full p-3 bg-[#0DBFE6]/20 group-hover:bg-[#001246] duration-300 ease-out"
                            >
                                <ArrowRight
                                    class="text-[#001246] group-hover:text-white size-6"
                                />
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <footer
            class="bg-[##001246] flex justify-center items-center p-4 lg:p-5"
        >
            <p class="text-white text-xs font-medium">
                © Damien Duhamel. All Rights Reserved.
            </p>
        </footer>
    </main>
</BaseLayout>
